<h3>Home</h3>

<% @users.each do |user| %>
  <p>User: <%=link_to user.name, user %></p>
<% end %>


<h4> Current Roasts </h4>

<table class="roastsTable">
	<tr>
		<th>Title</th>
    <th>Victim</th>
    <th></th>
	</tr>
	<% @roasts.each do |roast| %>
		<tr>
			<td><%= roast.title %></td>
      <td><%= roast.roastee %></td>
      <td><%= link_to 'View', roast_path(roast.id) %></td>
		</tr>
	<% end %>
</table>

