<h3>Roast of <%= @roast.roastee %></h3>

<div class="row">
	<div class="panel five columns">
		<div class="roaster">
		</div>
	</div>
	<div class="panel five columns">
		<div class="roastee">
		</div>
	</div>
</div>

