// Place all the styles related to the roasts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.roast-title {
	text-align: center;
}

.roast-status {
	text-align: center;
}

.roast-countdown {
	color: #EEEE00;
	font-weight: 900;
}
